.about{
    &-section{
        padding-top: 250px;
        padding-bottom: 150px;
        background-color: $accent;
        color: $white;
    }
    &-container{

    }
    &-content{
        max-width: 640px;
        &_text{
            font-size: 18px;
            font-weight: 400;
        }
        &_numbers{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .about-number{
                display: flex;
                flex-direction: column;
                margin-top: 100px;
                .number{
                    font-size: 48px;
                    font-weight: 200;
                    line-height: 1;
                }
                .number-descr{
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }

}