.footer{
    padding-bottom: 150px;
    color: $white;
    background-color: $accent;
    &-logo{
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        .logo-descr{
            font-size: 12px;
            font-weight: 300;
        }
    }
    &-content{
        &_number{
            margin-bottom: 50px;
            &__descr{
                font-weight: 300;
            }
            &__number{
                font-size: 40px;
                font-weight: 300;
                color: $white;
                margin-top: 10px;
            }

        }
        &_social{
            margin-bottom: 50px;
            &__descr{
                font-weight: 300;
            }
            &__items{
                margin-top: 10px;
                &__item{
                    color: $white;
                    font-size: 20px;
                    margin-right: 50px;
                }
            }
        }
        .developer{
            opacity: 0.4;
            font-weight: 400;
            a{
                padding: 0 2px;
                color: $white;
                text-decoration: underline;

            }
        }
    }
}