.hero-section{
    margin-top: 150px;
    .hero-container{
        justify-content: space-between;
        align-items: flex-end;
        .hero{
            &-heading{
                &_h1{
                    margin-bottom: 50px;
                }
                &_descr{
                    max-width: 450px;
                }
            }
            &-social{
                &_links{
                    .hero-social_link{
                        font-size: 20px;
                        font-weight: 500;
                        margin-left: 50px;
                    }
                }
            }
        }
    }

}
.hero-slider{
    margin-top: 50px;
    margin-bottom: -100px;
}

