.hero-section{
    margin-top: 200px;
    margin-bottom: -100px;
    .hero-content{
        &_h1{
            margin-bottom: 30px;
            line-height: 1.5;
        }
        &_descr{
            max-width: 360px;
            line-height: 1.5;
        }
    }
    .hero-social_links{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        .social_link{
            margin-left: 50px;
            text-decoration: none;
            color: $default;
            font-size: 20px;
            font-weight: 500;
        }
    }
    .slider{
        margin-top: 50px;
        .swiper {
            width: 100%;
          }
    }
}