.map-wrapper{
    h2{
        margin-bottom: 50px;
    }
}

.road-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.city-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .city-item{
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: flex-end;
        height: 320px;
        padding: 30px;
        color: $white;
        &:last-child{
            grid-column: 2/4;
        }
        &_name{
            font-size: 32px;
            font-weight: 500;
        }
        .cityes{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;
            &-item{
                padding: 5px 15px;
                background: $white;
                border-radius: 100px;
                display: inline-block;
                .city-text{
                    font-size: 12px;
                    font-weight: 400;
                    color: $default;
                }
            }
        }
    }
}