.services{
    &-content{

        &_card{
            flex-basis: 382px;
            color: $white;
            padding: 50px;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            height: 280px;
            margin-bottom: 50px;
            background-size: cover;
            background-repeat: no-repeat;
            .card-heading{
                z-index: 10;
                &_h3{
                    font-weight: 500;
                }
                &_descr{
                    max-width: 400px;
                }

            }
            .card-button{
                z-index: 10;
            }
        }
    }

}
.btn-white{
    display: inline-block;
    background: $white;
    color: $default;
    border: none;
}


.otherServices{
    &-content{
        &_item{
            max-width: 600px;
            padding-bottom: 20px;
            margin-bottom: 40px;
            border-bottom: 1px solid rgba($accent, 0.4);
            &__h6{

            }
            &__descr{
                max-width: 400px;
                padding-top: 10px;
            }
        }
    }
}