.services{
    &-content{
        max-width: 600px;
        &_card{
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }
    }
}