//until 1024px
@include laptop {
    .heading{
        width: 300px;
    }
    .hero-heading{
        width: 500px;
    }
    //hero querry
    .hero-social{
        display: none;
    }
    //hero querry

}