//until 768px
@include tablet{
    .heading{
        width: 100%;
        margin-bottom: 50px;
    }
    .hero-heading{
        width: 100%;
        margin-bottom: 0;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}
