<section class="about">
    <div class="container">
        <div class="section-grid about-content">
            <div class="section-name about-content_name">
                <h2 class="h2">Despre noi</h2>
            </div>
            <!-- /.name -->
            <div class="about-content_content">
                <p class="about-text">
                    Efectuăm transportul de pasageri, colete, marfă din Moldova - Germania, Germania - Moldova. Deținem 
                    transport confortabil, echipat la cele mai înalte standarde din domeniu,
                    asigurîndu-vă astfel tot confortul de care aveți nevoie: aer conditionat, scaune rapatabile 
                    și comode, sistem audio-video, încălzire suplimentară, loc generos pentru picioare, spații suficiente pentru
                    bagaje și șoferi profesioniști cu mare experiență. 
                </p>
                <!-- /.about-text -->
                <div class="about-numbers">
                    <div class="about-number">
                        <p class="number">15 000</p>
                        <p class="descr">Kilometri în siguranță</p>
                    </div>
                    <div class="about-number">
                        <p class="number">1200</p>
                        <p class="descr">Pasageri</p>
                    </div>
                    <div class="about-number">
                        <p class="number">300</p>
                        <p class="descr">Rute efectuate</p>
                    </div>
                </div>
                <!-- /.about-numbers -->
            </div>
            <!-- /.about-content_content -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</section>
<!-- /.about -->