<section class="about about-section">
    <div class="container grid">
        <h2 class="about-section_h2">Despre noi</h2>
        <div class="about-section-content">
            <p class="about-section-content_text">
                Efectuăm transportul de pasageri, colete, marfă din Moldova - Germania, Germania - Moldova. Deținem transport confortabil, echipat la cele mai înalte standarde din domeniu, asigurîndu-vă astfel tot confortul de care aveți nevoie: aer conditionat, scaune rapatabile și comode, sistem audio-video, încălzire suplimentară, loc generos pentru picioare, spații suficiente pentru bagaje și șoferi profesioniști cu mare experiență. 
            </p>
            <div class="about-section_numbers">
                <div class="number-item">
                    <p class="number">150000</p>
                    <p class="number-descr">Kilometri în siguranță</p>
                </div>
                <div class="number-item">
                    <p class="number">1200</p>
                    <p class="number-descr">Pasageri</p>
                </div>
                <div class="number-item">
                    <p class="number">300</p>
                    <p class="number-descr">Curse efectuate</p>
                </div>
            </div>
        </div>
    </div>
</section>