<section class="section faq">
    <div class="container faq-container grid">
        <div class="heading faq-heading">
            <h2 class="faq-heading_h2">Întrebări fregvente</h2>
        </div>
        <div class="faq-content">
            <details class="faq-content_dropdown">
                <summary class="faq-content_dropdown__control">
                    <h6 class="faq-content_dropdown__control__h6">Care este prețul pentru colete</h6>
                    <img src="./img/dropdown.svg" alt="" class="faq-content_dropdown__control__arrow">
                </summary>
                <div class="faq-content_dropdown__text">
                    Prețul pentru colete se calculează în dependență de mărimea și greutatea acestuia astfel: 1kg costă 10 euro
                </div>

            </details>
            <details class="faq-content_dropdown">
                <summary class="faq-content_dropdown__control">
                    <h6 class="faq-content_dropdown__control__h6">Care este prețul pentru colete</h6>
                    <img src="./img/dropdown.svg" alt="" class="faq-content_dropdown__control__arrow">
                </summary>
                <div class="faq-content_dropdown__text">
                    Prețul pentru colete se calculează în dependență de mărimea și greutatea acestuia astfel: 1kg costă 10 euro
                </div>

            </details>
            <details class="faq-content_dropdown">
                <summary class="faq-content_dropdown__control">
                    <h6 class="faq-content_dropdown__control__h6">Care este prețul pentru colete</h6>
                    <img src="./img/dropdown.svg" alt="" class="faq-content_dropdown__control__arrow">
                </summary>
                <div class="faq-content_dropdown__text">
                    Prețul pentru colete se calculează în dependență de mărimea și greutatea acestuia astfel: 1kg costă 10 euro
                </div>

            </details>
        </div>
    </div>
</section>