<section class="hero-section">
    <div class="container hero-container grid">
        <div class="heading hero-heading">
            <h1 class="hero-heading_h1">Transport de pasageri și colete Moldova - Germania</h1>
            <p class="hero-heading_descr">
                Oferim curse zilnice tur-retur spre orice destinație.
                La fel dispunem de serviciul "Colete și Pachete"
            </p>
        </div>
        <div class="hero-social">
            <div class="hero-social_links">
                <a href="" class="hero-social_link">Facebook</a>
                <a href="" class="hero-social_link">Telegram</a>
                <a href="" class="hero-social_link">WhatsUp</a>
                <a href="" class="hero-social_link">Viber</a>
            </div>
        </div>
    </div>
</section>
<div class="hero-slider">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="./img/bus-image.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./img/bus-image.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./img/bus-image.jpg" alt="">
            </div>
            
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>