<section class="hero-section">
    <div class="container grid">
        <div class="hero-content">
            <h1 class="hero-content_h1">Transport de pasageri și colete Moldova - Germania</h1>
            <p class="hero-content_descr">Oferim curse zilnice tur-retur spre orice destinație.
                La fel dispunem de serviciul "Colete și Pachete"</p>
        </div>
        <div class="hero-social_links">
            <a href="#" class="social_link">Facebook</a>
            <a href="#" class="social_link">Viber</a>
            <a href="#" class="social_link">Telegram</a>
            <a href="#" class="social_link">Whatsup</a>
        </div>
    </div>
    <div class="slider">
        <div class="container">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="../img/bus-image.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/bus-image.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/bus-image.jpg" alt="">
                </div>
                </div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>