<section class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="content">
                <h1 class="h1">
                    Transport de pasageri și colete Moldova - Germania
                </h1>
                <p class="descr">
                    Oferim curse zilnice tur-retur spre orice destinație.
                    La fel dispunem de serviciul "Colete și Pachete"
                </p>
            </div>
            <!-- /.content -->
            <div class="social">
                <div class="social-links">
                    <a href="" class="social-link">Facebook</a>
                    <a href="" class="social-link">Viber</a>
                    <a href="" class="social-link">Telegram</a>
                    <a href="" class="social-link">WatsUp</a>
                </div>
                <!-- /.social-links -->
            </div>
            <!-- /.social -->
        </div>
        <!-- /.hero-content -->
        <div class="slider">
            <img src="./img/bus-image.jpg" alt="">
        </div>
        <!-- /.slider -->
    </div>
    <!-- /.container -->
</section>
<!-- /.hero -->