<section class="modal" data-modal="modal">
    <div class="modal-window">
        <div class="modal-window_control">
            <h6 class="modal-window_control__heading">Contactează prin una dintre metode</h6>
            <button class="modal-window_control__closed">
                <img src="./img/closed.svg" alt="" class="closed_item">
            </button>
           
        </div>
        <div class="modal-window_social">
            <a href="" class="modal-window_social__link">+(373) 68349062</a>
            <a href="" class="modal-window_social__link">Facebook</a>
            <a href="" class="modal-window_social__link">WhatsUp</a>
            <a href="" class="modal-window_social__link">Viber</a>
        </div>
    </div>
</section>