<section class="modal" data-modal="modal">
    <div class="modal-window">
        <div class="modal-window_control">
            <h6 class="modal-window_control__heading">Contactează prin una dintre metode</h6>
            <button class="modal-window_control__closed">
                <svg  class="closed_item"  viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.843224" y1="11.6464" x2="11.4498" y2="1.03985" />
                    <line x1="1.55033" y1="0.646447" x2="12.1569" y2="11.253" />
                </svg>
            </button>
           
        </div>
        <div class="modal-window_social">
            <a href="" class="modal-window_social__link">+(373) 68349062</a>
            <a href="" class="modal-window_social__link">Facebook</a>
            <a href="" class="modal-window_social__link">WhatsUp</a>
            <a href="" class="modal-window_social__link">Viber</a>
        </div>
    </div>
</section>