<section class="section road">
    <div class="container">
        <div class="map-wrapper">
            <h2 class="h2">Traseu</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d6783488.529409495!2d12.589487046214812!3d49.54585450897843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x40c97c3628b769a1%3A0x258119acdf53accb!2z0JzQvtC70LTQsNCy0LjRjw!3m2!1d47.411631!2d28.369885!4m5!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2z0JPQtdGA0LzQsNC90LjRjw!3m2!1d51.165690999999995!2d10.451526!5e0!3m2!1sru!2s!4v1650277714694!5m2!1sru!2s" width="100%" height="650px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- /.map-wrapper -->
    </div>
    <!-- /.container -->
</section>
<!-- /.road -->
<section class="section">
    <div class="container">
        <div class="road-section">
            <h2 class="h2 road-heading">Orașele parcurse</h2>
            <p class="durata">23h-30h Într-o direcție</p>
        </div>
        <div class="city-wrapper">
            <div class="city-item" style="background-image: url('./img/md.jpg');"> 
                <h6 class="city-item_name">Moldova</h6>
                <div class="cityes">
                    <div class="cityes-item">
                        <p class="city-text">Chișinău</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Bălți</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Cahul</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Chișinău</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Bălți</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Cahul</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Chișinău</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Bălți</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Cahul</p>
                    </div>
                </div>
            </div>
            <div class="city-item" style="background-image: url('./img/ro.jpg');">
                <h6 class="city-item_name">România</h6>
                <div class="cityes">
                    <div class="cityes-item">
                        <p class="city-text">Chișinău</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Bălți</p>
                    </div>
                    <div class="cityes-item">
                        <p class="city-text">Cahul</p>
                    </div>
                </div>
            </div>
            <div class="city-item" style="background-image: url('./img/ung.jpg');">
                <h6 class="city-item_name">Ungaria</h6>
                <div class="cityes">
                    <div class="cityes-item">
                        <p class="city-text">Chișinău</p>
                    </div>
                </div>
            </div>
            <div class="city-item" style="background-image: url('./img/austr.jpg');">
                <h6 class="city-item_name">Austria</h6>
                <div class="cityes">
                    <div class="cityes-item">
                        <p class="city-text">Chișinău</p>
                    </div>
                </div>
            </div>
            <div class="city-item" style="background-image: url('./img/ge.jpg');">
                <h6 class="city-item_name">Germania</h6>
                <div class="cityes">
                    <div class="cityes-item">
                        <p class="city-text">Chișinău</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->