<section class="section route">
    <div class="container">
        <div class="route-map">
            <h2 class="route_h2">Traseu</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d6783488.529409495!2d12.589487046214812!3d49.54585450897843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x40c97c3628b769a1%3A0x258119acdf53accb!2z0JzQvtC70LTQsNCy0LjRjw!3m2!1d47.411631!2d28.369885!4m5!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2z0JPQtdGA0LzQsNC90LjRjw!3m2!1d51.165690999999995!2d10.451526!5e0!3m2!1sru!2s!4v1650277714694!5m2!1sru!2s" width="100%" height="650px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- /.map-wrapper -->
    </div>
    <!-- /.container -->
</section>
<!-- /.road -->
<section class="section traveled">
    <div class="container">
        <div class="traveled-heading">
            <h2 class="traveled-heading_h2">Orașele parcurse</h2>
            <h6 class="traveled-heading_h6">Durata: 23h-30h</h6>
        </div>
        <div class="traveled-country">
            <div class="country-card" style="background-image: url(./img/md.jpg);">
                <div class="overlay"></div>
                <h5 class="country-card_h5">Moldova</h5>
                <div class="country-card_city">
                    <p class="country-card_city_text">Chișinău</p>
                    <p class="country-card_city_text">Bălți</p>
                </div>
            </div>
            <div class="country-card" style="background-image: url(./img/ro.jpg);">
                <div class="overlay"></div>
                <h5 class="country-card_h5">România</h5>
                <div class="country-card_city">
                    <p class="country-card_city_text">Husi</p>
                    <p class="country-card_city_text">Vaslui</p>
                    <p class="country-card_city_text">Bârlad</p>
                    <p class="country-card_city_text">Adjud</p>
                    <p class="country-card_city_text">Onesti</p>
                    <p class="country-card_city_text">Târgu</p>
                    <p class="country-card_city_text">Secuesc</p>
                    <p class="country-card_city_text">Brașov</p>
                    <p class="country-card_city_text">Fagaraș</p>
                    <p class="country-card_city_text">Sibiu</p>
                    <p class="country-card_city_text">Sebes</p>
                    <p class="country-card_city_text">Deva</p>
                    <p class="country-card_city_text">Arad</p>
                </div>
            </div>
            <div class="country-card" style="background-image: url(./img/ung.jpg);">
                <div class="overlay"></div>
                <h5 class="country-card_h5">Ungaria</h5>
                <div class="country-card_city">
                    <p class="country-card_city_text">Chișinău</p>
                    <p class="country-card_city_text">Bălți</p>
                </div>
            </div>
            <div class="country-card" style="background-image: url(./img/austr.jpg);">
                <div class="overlay"></div>
                <h5 class="country-card_h5">Austria</h5>
                <div class="country-card_city">
                    <p class="country-card_city_text">Venlo</p>
                    <p class="country-card_city_text">Eindhoven</p>
                    <p class="country-card_city_text">Tilburg</p>
                    <p class="country-card_city_text">Tiel</p>
                    <p class="country-card_city_text">Nijmengen</p>
                    <p class="country-card_city_text">Vlaardingen</p>
                    <p class="country-card_city_text">Rotterdam</p>
                    <p class="country-card_city_text">Breda</p>
                    <p class="country-card_city_text">Utrech</p>
                </div>
            </div>
            <div class="country-card" style="background-image: url(./img/ge.jpg);">
                <div class="overlay"></div>
                <h5 class="country-card_h5">Germania</h5>
                <div class="country-card_city">
                    <p class="country-card_city_text">Pforzheim</p>
                    <p class="country-card_city_text">Karlsruhe</p>
                    <p class="country-card_city_text">Mannheim</p>
                    <p class="country-card_city_text">Regensburg</p>
                    <p class="country-card_city_text">Nurinberg</p>
                    <p class="country-card_city_text">Wusburg</p>
                    <p class="country-card_city_text">Bochum</p>
                    <p class="country-card_city_text">Frankfurt pe Main</p>
                    <p class="country-card_city_text">Wiesbaden</p>
                    <p class="country-card_city_text">Mainz</p>
                    <p class="country-card_city_text">Koblenz</p>
                    <p class="country-card_city_text">Koln</p>
                    <p class="country-card_city_text">Dusseldorf</p>
                    <p class="country-card_city_text">Wuppertal</p>
                    <p class="country-card_city_text">Krefel</p>
                    <p class="country-card_city_text">Duisburg</p>
                    <p class="country-card_city_text">Essen</p>
                </div>
            </div>
        </div>

    </div>
</section>