<section class="section route">
    <div class="container route-container">
        <div class="route-heading">
            <h2 class="route-heading_h2">Traseu</h2>
            <h6 class="route-heading_time">Durata: 23h - 30h</h6>
        </div>
        <div class="route-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d5299799.008813934!2d14.885082711519837!3d49.56393853806904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x40cceb4e695aa715%3A0x5e7250c0ee9e909d!2zUElULk1EIFNvcm9jYSwgU3RyLiBJbmRlcGVuZGVuyJtlaSA3NS80LCBTb3JvY2EsINCc0L7Qu9C00L7QstCw!3m2!1d48.157516199999996!2d28.3023912!4m5!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2z0JPQtdGA0LzQsNC90LjRjw!3m2!1d51.165690999999995!2d10.451526!5e0!3m2!1sru!2s!4v1650479459122!5m2!1sru!2s" width="100%" height="650px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<section class="section traveled">
    <div class="container traveled-container">
        <h2 class="traveled-heading">Orașele parcurse</h2>
        <div class="traveled-content">
            <div class="traveled-content_item" style="background-image: url(./img/md.jpg);">
                <div class="overlay"></div>
                <h3 class="traveled-content_item__h3">Moldova</h3>
                <div class="traveled-content_item__city">
                    <p class="traveled-content_item__city__item">Chișinău</p>
                    <p class="traveled-content_item__city__item">Cahul<p>                                                  
                </div>
            </div>
            <div class="traveled-content_item" style="background-image: url(./img/ro.jpg);">
                <div class="overlay"></div>
                <h3 class="traveled-content_item__h3">România</h3>
                <div class="traveled-content_item__city">
                    <p class="traveled-content_item__city__item">Husi</p>
                    <p class="traveled-content_item__city__item">Vaslui</p>                                               
                    <p class="traveled-content_item__city__item">Bârlad</p>                                               
                    <p class="traveled-content_item__city__item">Adjud</p>                                               
                    <p class="traveled-content_item__city__item">Onești</p>                                               
                    <p class="traveled-content_item__city__item">Târgu Secuesc</p>                                               
                    <p class="traveled-content_item__city__item">Brașov</p>                                               
                    <p class="traveled-content_item__city__item">Fagaraș</p>                                               
                    <p class="traveled-content_item__city__item">Sibiu</p>                                               
                    <p class="traveled-content_item__city__item">Sebes</p>                                               
                    <p class="traveled-content_item__city__item">Deva</p>                                               
                    <p class="traveled-content_item__city__item">Arad</p>                                                                                              
                </div>
            </div>
            <div class="traveled-content_item" style="background-image: url(./img/ung.jpg);">
                <div class="overlay"></div>
                <h3 class="traveled-content_item__h3">Ungaria</h3>
                <div class="traveled-content_item__city">
                    <p class="traveled-content_item__city__item">Chișinău</p>
                    <p class="traveled-content_item__city__item">Bălț</p>
                </div>
            </div>
            <div class="traveled-content_item" style="background-image: url(./img/austr.jpg);">
                <div class="overlay"></div>
                <h3 class="traveled-content_item__h3">Austria</h3>
                <div class="traveled-content_item__city">
                    <p class="traveled-content_item__city__item">Velno</p>
                    <p class="traveled-content_item__city__item">Triburg</p>
                </div>
            </div>
            <div class="traveled-content_item" style="background-image: url(./img/ge.jpg);">
                <div class="overlay"></div>
                <h3 class="traveled-content_item__h3">Germania</h3>
                <div class="traveled-content_item__city">
                    <p class="traveled-content_item__city__item">Chișinău</p>
                    <p class="traveled-content_item__city__item">Bălț</p>
                </div>
            </div>
        </div>
    </div>
</section>