<section class="section services-section">
    <div class="container services-container grid">
        <div class="heading services-heading">
            <h2 class="services-heading_h2">Servicii</h2>
        </div>
        <div class="services-content">
            <div class="services-content_card" style="background-image: url(./img/people.jpg);">
                <div class="overlay"></div>
                <div class="card-heading">
                    <h3 class="card-heading_h3">Transport persoane</h3>
                    <p class="card-heading_descr">
                        Transportăm persoane zilnic tur - retur pe traseul Moldova - Germania.
                    </p>
                </div>
                <div class="card-button">
                    <a href="" class="button btn-white">Contactează-ne</a>
                </div>
            </div>
            <div class="services-content_card" style="background-image: url(./img/pack.jpg);">
                <div class="overlay"></div>
                <div class="card-heading">
                    <h3 class="card-heading_h3">Transport colete</h3>
                    <p class="card-heading_descr">
                        Transportăm persoane zilnic tur - retur pe traseul Moldova - Germania.
                    </p>
                </div>
                <div class="card-button">
                    <a href="" class="button btn-white">Contactează-ne</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section otherService">
    <div class="container otherService-container grid">
        <div class="heading otherService-heading">
            <h2 class="otherService-heading_h2">Alte servicii</h2>
        </div>
        <div class="otherServices-content">
            <div class="otherServices-content_item">
                <h6 class="otherServices-content_item__h6">Suport non-stop</h6>
                <p class="otherServices-content_item__descr">Operatorii vă vor consulta cu privire la orice întrebare apărută înaintea sau în momentul efecturăii cursei.</p>
            </div>
            <div class="otherServices-content_item">
                <h6 class="otherServices-content_item__h6">Suport non-stop</h6>
                <p class="otherServices-content_item__descr">Operatorii vă vor consulta cu privire la orice întrebare apărută înaintea sau în momentul efecturăii cursei.</p>
            </div>
            <div class="otherServices-content_item">
                <h6 class="otherServices-content_item__h6">Suport non-stop</h6>
                <p class="otherServices-content_item__descr">Operatorii vă vor consulta cu privire la orice întrebare apărută înaintea sau în momentul efecturăii cursei.</p>
            </div>
        </div>
    </div>
</section>