<section class="section services">
    <div class="container">
        <div class="section-grid">
            <div class="section-name">
                <h2 class="h2">Servicii</h2>
            </div>
            <!-- /.section-name -->
            <div class="services-content">
                <div class="services-card people">
                    <div class="card-content">
                        <h3 class="services-card_name h3">Transport persoane</h3>
                        <h6 class="services-card_descr">Transportăm persoane zilnic tur - retur pe traseul Moldova - Germania.</h6>
                    </div>
                    <!-- /.card-content -->
                    <div class="card-button">
                        <button class="whitebtn">Contactează-ne</button>
                    </div>
                </div>
                <!-- /.services-card -->
                <div class="services-card package">
                    <div class="card-content">
                        <h3 class="services-card_name h3">Transport Colete</h3>
                        <h6 class="services-card_descr">Prestăm și servicii de livrare a coletelor pentru traseul Moldova - Germania.</h6>
                    </div>
                    <!-- /.card-content -->
                    <div class="card-button">
                        <button class="whitebtn">Contactează-ne</button>
                    </div>
                </div>
                <!-- /.services-card -->
            </div>
            <!-- /.services-content -->
        </div>
        <!-- /.section-grid -->
    </div>
    <!-- /.container -->
</section>
<!-- /.services -->
<section class="section otherservice">
    <div class="container">
        <div class="section-grid">
            <div class="section-name">
                <h2 class="h2">Alte servicii</h2>
            </div>
            <!-- /.section-name -->
            <div class="otherservice-content">
                <div class="service-item">
                    <h6 class="service-item_name">Suport non-stop</h6>
                    <p class="service-item_descr">Operatorii vă vor consulta cu privire la orice întrebare apărută înaintea sau în momentul efecturăii cursei.</p>
                </div>
                <!-- /.service-item -->
                <div class="service-item">
                    <h6 class="service-item_name">Automobil modern</h6>
                    <p class="service-item_descr">Automobilele cu care se efectuează cursele sunt amenajate cu toate cele necesare pentru a avea o călătorie plăcută și sigură</p>
                </div>
                <!-- /.service-item -->
                <div class="service-item">
                    <h6 class="service-item_name">Contacte</h6>
                    <p class="service-item_descr">Suntem dispuși să contactăm cu clienții noștri prin orice platformă care le este mai disponibilă</p>
                </div>
                <!-- /.service-item -->
            </div>
            <!-- /.otherservice-content -->
        </div>
        <!-- /.section-grid -->
    </div>
    <!-- /.container -->
</section>
<!-- /.section -->