<section class="services section">
    <div class="container grid">
        <h2 class="services_h2">Servicii</h2>
        <div class="services-content">
            <div class="services-content_card" style="background-image: url('./img/people.jpg');">
                <div class="overlay"></div>
                <div class="card-content">
                    <h3 class="card-h3">Transport persoane</h3>
                    <p class="card-descr">Transportăm persoane zilnic tur - retur pe traseul Moldova - Germania.</p>
                </div>
                <a href="#" class="button white">Contactază-ne</a>
            </div>
            <div class="services-content_card" style="background-image: url('./img/pack.jpg');">
                <div class="overlay"></div>
                <div class="card-content">
                    <h3 class="card-h3">Transport colete</h3>
                    <p class="card-descr">Transportăm colete zilnic tur - retur pe traseul Moldova - Germania.</p>
                </div>
                <a href="#" class="button white">Contactază-ne</a>
            </div>
        </div>
    </div>
</section>
<section class="section other">
    <div class="container grid">
        <h2 class="other_h2">Alte servicii</h2>
        <div class="other-content">
            <div class="other-content-item">
                <p class="item_name">Suport non-stop</p>
                <p class="item_descr">Operatorii vă vor consulta cu privire la orice întrebare apărută înaintea sau în momentul efecturăii cursei.</p>
            </div>
            <div class="other-content-item">
                <p class="item_name">Automobil modern</p>
                <p class="item_descr">Automobilele cu care se efectuează cursele sunt amenajate cu toate cele necesare pentru a avea o călătorie plăcută și sigură</p>
            </div>
            <div class="other-content-item">
                <p class="item_name">Contact</p>
                <p class="item_descr">Suntem dispuși să contactăm cu clienții noștri prin orice platformă care le este mai disponibilă</p>
            </div>
        </div>
    </div>
</section>