// Add the global setting for Heading an Global Components


.container{
    max-width: 1266px;
    margin: 0 auto;
    padding: 0 20px;
}
.section-grid{
    display: grid;
    grid-template-columns: 500px 1fr;
}

body{
    font-family: 'Jost', sans-serif;
    font-weight: normal;
    position: relative;
    background-color: $bg;
    color: $default;
    line-height: 1.5;
}

.h1,.h2{
    font-size: 36px;
    font-weight: 500;
    max-width: 500px;
}

.h3{
    font-size: 32px;
    font-weight: 600;
}

.h4{
    font-size: 32px;
    font-weight: 500;
}

.h5{
    font-size: 20px;
    font-weight: 400;
}

.h6{
    font-size: 18px;
    font-weight: 500;
}
p{
    font-size: 16px;
    font-weight: 500;

}

.section{
    padding: 150px 0  0 0;
}

//Components
button{
    font-size: 16px;
    font-weight: 400;
    padding: 19px 28px;
    color: $white;
    background: $accent;
    border: 1px solid $accent;
    cursor: pointer;
    translate: all 1s;
    &:hover{
        border: 1px solid $default;
        color: $default;
        background: transparent;
    }
}
